{{define "Header"}}
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TODO: Set the title.</title>
		{{template "Css"}}
	</head>
	<body>
		<div class="container">
			<header>
				<nav class="navbar navbar-default">
					<div class="navbar-header">	
						<a href="/" class="navbar-brand">Guy Moore</a>		
					</div>
					<ul class="nav navbar-nav pull-right">
						<li><a href="/info/AboutMe">About Me</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="video">Video</a></li>
					</ul>
				</nav>
			</header>	
			<hr>
{{end}}
